<<<<<<< HEAD
=======
.head-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #f7f8f9;
}
.head {
    width: 500px;
    margin: auto;
    height: 50px;
    text-align: center;
    align-items: center;
}
.logo {
    width: 58px;
    height: 40px;
}
>>>>>>> 7d73d300f988891dbd5a58ad38632bbe73be9d44
