.color {}
.header {
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    z-index: 9;
    background: #f1f1f1;
    box-shadow: 0px 2px 2px #dadadd;
}
.header .logo {
    width: 50px;
}
.header .logo img{
    width: 100%;
}
.header .location{}
.header .location .ico{}
.header .location .label{}
.header .location .arrow{}

.header .search{}
.header .query{}
.header .go{}
.header .gohover{}

.header .actions a{}
.header .actions .sell{}
.header .actions .sell:hover{}
